

/* Green COLOR SCHEME */

/* 
body, site-header{
	background-color: #F8F1E5;
	color: #335252;
}
.nav-primary .genesis-nav-menu > li > a:hover,
.nav-primary .genesis-nav-menu > li > a:active{
	background-color:#335252 !important;
	color: #F8F1E5 !important;
	transition: 0.3s ease-in-out;
	border-radius: 3px;
	}
.genesis-sub-menu .sub-menu li a:hover{
	background-color:#335252 !important;
	color: #F8F1E5 !important;
	transition: 0.2s ease-in-out;
	}

.genesis-nav-menu .sub-menu li a {
	background-color:#F8F1E5  !important;
	color:  #903C3C !important;
}
.genesis-nav-menu .sub-menu li a:hover{
		color: #335252 !important;
}

.site-title a {
	color: #335252;
}

.nav-primary a{
	padding: 5px;
}

.front-page-1 h3{
	color: #335252 !important;
}

ul, 
li,
.entry-title a,
a{
	color:#903C3C;
}

h1, 
h2, 
h3,
h4,
h5,
p{
	color: #335252;
}

input[type="submit"]{
	background-color: #335252;
}

.front-page-2 article .entry-header a{
	color: #F8F1E5;
}

.facebook{
	border: 3px solid #335252 !important;
	padding: 5px;
} */

/* *********** 	BLUE/YELLOW COLOR SCHEME *************** */
/* 
body, site-header{
	background-color: #cdd4ca ;
	color: #cdd4ca;
}
.nav-primary .genesis-nav-menu > li > a:hover,
.nav-primary .genesis-nav-menu > li > a:active{
	background-color:#CAE4DB !important;
	color: #00303F  !important;
	transition: 0.3s ease-in-out;
	border-radius: 3px;
	}
.genesis-sub-menu .sub-menu li a:hover{
	background-color:#CAE4DB !important;
	color: #00303F  !important;
	transition: 0.2s ease-in-out;
	}

.genesis-nav-menu .sub-menu li a {
	background-color:#CAE4DB   !important;
	color:  #00303F  !important;
}
.genesis-nav-menu .sub-menu li a:hover{
		color: #00303F !important;
}

.site-title a {
	color: #00303F;
}

.nav-primary a{
	padding: 5px;
}

.front-page-1 h3{
	color: #00303F !important;
}

ul, 
li,
.entry-title a,
a{
	color: #dcae1d;
}

h1, 
h2, 
h3,
h4,
h5,
p{
	color: #335252;
}

input[type="submit"]{
	background-color: #335252;
}

.front-page-2 article .entry-header a{
	color: #F8F1E5;
}

.facebook{
	border: 3px solid #335252 !important;
	padding: 5px;
} */
/* Front Page Widgets
 * ========================================================================== */

.widget-area {
	margin-bottom: 40px;
}

.flexible-widgets .widget {
	margin-bottom: 20px;
}

.flexible-widgets .widget:last-child {
	margin-bottom: 0;
}

[class^="front-page-"]:last-child .widget-area:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 800px) {

	.widget-area {
		margin-bottom: 80px;
		
	}

	.flexible-widgets,
	.flexible-widgets .featured-content.widget .widget-wrap {
		margin-left: -10px;
		margin-right: -10px;
		width: calc( 100% + 20px );
		display: inline-block;
	}

	.flexible-widgets .widget,
	.flexible-widgets .featured-content.widget > .entry {
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.flexible-widgets.widget-fourths .widget {
		width: 25%;
	}

	.flexible-widgets.widget-halves .widget {
		width: 60%;
	}

	.flexible-widgets.widget-thirds .widget {
		width: 33.33%;
	}

	.flexible-widgets.widget-halves .widget:nth-child(even),
	.flexible-widgets.widget-thirds .widget:nth-child(3n+1),
	.flexible-widgets.widget-fourths .widget:nth-child(4n+1) {
		clear: left;
	}

}
/* Menu
 * ========================================================================== */
	
 	.nav-primary .genesis-nav-menu > li > a:hover,
	.nav-primary .genesis-nav-menu > li > a:active{
		background-color:#2171bb;
		color: white;
		transition: 0.3s ease-in-out;
		
	}

	.genesis-nav-menu .sub-menu li a:hover{
		color: white;
		background-color: #2171bb;
	}
/* Front Page 1
 * ========================================================================== */


 .front-page-1{
	 margin: 0 auto;
	 background-image:url('/wp-content/uploads/2018/10/header.jpg');
	 background-position: 50% 15%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	top:0;
	max-width: none;
	position: relative;
	height: 55vh;
	display: flex;
	align-items: center;
 }

.front-page-1 .widget:last-child {
margin-bottom: 0;
} 

/*overlay.------*/
.front-page-1:after {
content: " ";
display: inline-block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 0;
background: #fff;
opacity: 0.4;
z-index: -1;
}

[class*="front-page-1"] {
position: relative;
z-index: 1;
}

.site-header {
z-index: 99999;
}

.front-page-1 .two-thirds{
	/* border: 2px solid; */
	margin: 50px 0px 20px 80px;
	padding: 40px;		
}

.front-page-1 .wrap{
	/* border: 2px dashed green; */
	padding: 0;
	margin: 0;
	
}

@media only screen and (min-width: 800px){
/* 
.front-page-1 {
margin-top: -165px;
z-index: -1;
padding-top: 150px;
padding-bottom: 20px;
} */
}

/* Front Page 4 - Landing Section 2
 * ========================================================================== */

.front-page-4 .widget-area{
	margin-top: 80px;
}



/* Front Page 2
 * ========================================================================== */

::placeholder{
	color: #426E86;
	text-align: center;
}


.front-page-2 .search-form{
	position: relative;
	width: 65%;
	margin:0 auto;
	padding-bottom: 60px;
}
.front-page-2 {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	
}

#search-3 h3{
	margin: 0;
}
.front-page-2 .widget-area {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}



.front-page-2 .featured-content article.entry {
  position: relative;
  padding: 0;
}

.front-page-2 .featured-content article a {
  margin: 0;
	display: block;
}

.front-page-2 article:after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index: 2;
  pointer-events: none;
}

.front-page-2 article .entry-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

.front-page-2 article .entry-header .entry-title {
  margin: 0;
}

.front-page-2 article .entry-header a {
  color: #fff;
  padding: 20px;
  width: 100%;
  display: block;
}

.contact-info{
	/* border: 2px solid; */
	display:flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 15px;
}

.phone, .email{
	/* border: 2px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 70px;
}

.phone p,
.email p{
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.front-contact-text{
	max-width: 70%;
	text-align: center;
	margin: 0 auto;
	padding: 13px 0;
}

.front-contact i{
	font-size: 1.7rem;
	margin: 10px;
}
/* Front Page 3
 * ========================================================================== */

 #text-3 .textwidget{
	 max-width: 70%;
	 margin: 0 auto;
 }
 #text-3 .textwidget p{
	 text-align: center;

 }

 #text-3 h3.widgettitle.widget-title{
	 font-size: 35px;
	 font-size: 2rem;
	 text-align: center;
 }

.front-page-3 .widget-area {
 	margin-bottom: 60px;
}

#text-4 ul.serif-list{
	font-size: 22px;
	margin-right: 10px;
	font-weight: 600;
}

/* Front Page 6
 * ========================================================================== */

 .front-page-6 .widget{
	 margin-left: 0;
	 padding-left: 0;
 }
 .front-page-6 .widget-wrap{
	 border: 2px solid blue;
	 width: 100%;
 }


 .front-page-6-left h4{
	 font-weight: 300;
	 font-size: 22px;
 }




@media only screen and (min-width: 800px) {

	/* .front-page-6 .widget {
	 	margin-left: 1.5625%;
	 	padding-left: 32.291666666667%;
		position: relative;
	} */

	.front-page-6 .widgettitle {
		position: absolute;
		left: 0;
		width: 32.291666666667%;
		padding-right: 40px;
	}

}
/* Front Page 7
 * ========================================================================== */


 .front-page-7 .wrap .flexible-widgets{
	 margin: 0 auto;
 }
/* Front Page 8
 * ========================================================================== */

.front-page-8 .featuredpage .alignleft,
.front-page-8 .featuredpage .alignright {
	width: 100%;
	margin: 0 auto 20px;
}


@media only screen and (min-width: 800px) {

	.front-page-8 .flexible-widgets .widget {
		margin-bottom: 60px;
	}

	.front-page-8 .flexible-widgets .widget:last-child {
		margin-bottom: 0;
	}

	.front-page-8 .featuredpage .alignleft,
	.front-page-8 .featuredpage .alignright {
		max-width: 63.4%;
	}

	.front-page-8 .featuredpage .alignleft {
		margin-left: -13.4%;
		margin-right: 7.6822916667%;
	}

	.front-page-8 .featuredpage .alignright {
		margin-right: -13.4%;
		margin-left: 7.6822916667;
	}

}

/* Footer
 * ========================================================================== */
.back-to-top{
	font-size: 20px;
}

 .footer-1-text{
	 /* border:2px solid; */
	 margin:10px 0;
 }
 .footer-widgets .wrap{
	 /* border:2px dashed purple; */
	 max-width: none;
	 padding: 0 3%;
 }

 .facebook{
	 border:2px solid blue;
 }

 #cff.cff-fixed-height{
	 padding: 10px 15px;
 }